/* your custom styles here */
.yellow{
    background: rgb(255, 192, 0);
}

.green{
    background: rgb(35, 225, 72);
}

.blue{
    background: rgb(68, 114, 196);
}
.panel-radius{
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}